[project]
	description = Hyperledger Chaincode Compiler - Proposed tooling for https://github.com/hyperledger
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gregory Haskins (ghaskins)
[access "refs/for/refs/*"]
	read = group user/Gregory Haskins (ghaskins)
	push = group user/Gregory Haskins (ghaskins)
	label-Code-Review = -2..+2 group user/Gregory Haskins (ghaskins)
	label-Verified = -1..+1 group user/Gregory Haskins (ghaskins)
	rebase = group user/Gregory Haskins (ghaskins)
	removeReviewer = group user/Gregory Haskins (ghaskins)
	submit = group user/Gregory Haskins (ghaskins)
[access "refs/heads/*"]
	read = group user/Gregory Haskins (ghaskins)
	create = group user/Gregory Haskins (ghaskins)
	push = +force group user/Gregory Haskins (ghaskins)
	pushMerge = group user/Gregory Haskins (ghaskins)
[access "refs/tags/*"]
	push = +force group user/Gregory Haskins (ghaskins)
	pushTag = group user/Gregory Haskins (ghaskins)
	pushSignedTag = group user/Gregory Haskins (ghaskins)
